.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color:linear-gradient(135deg, #ff9a9e 50%, #fad0c4 99%, #fad0c4 100%);
  background: linear-gradient(135deg, #ccb6cf 50%, #502e4d 99%, #fad0c4 100%);
  height: 100vh; /* Ensure the background covers the full viewport height */
  margin: 0; /* Remove default margin */
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-input {
  font-family: 'Coiny', sans-serif; 
  font-size: 13px; 
  padding: 5px;
}

h1{
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Coiny", sans-serif;
  color: #5e0375;
  margin-bottom: 10px;
}

h2{
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  font-family:  "Itim", sans-serif;
  color: #5e0375;
  margin-top: 5px;
}

label{
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  font-family:  "Itim", sans-serif;
}

p{
  font-size: 20px;
  line-height: 1.4;
  font-family: "Itim";
}

.date-range-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.date-range-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
}

.date-range-item label {
  margin-bottom: 0.5rem;
}

