.date-range-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .date-range-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
  }
  
  .date-range-item label {
    margin-bottom: 0.5rem;
  }

  .date-range-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; 
  }