.axis-text {
    color: #333;
    font-size: 12px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
  }
  
  .axis-title {
    color: #333;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
  }

  .no-data-message {
    font-size: 30px;
    color: rgba(153, 6, 6, 0.527);
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }
  
  .loading-message {
    color: blue;
  }